/*
//
// Main Scss file
// --------------------------------------------------
//
*/

/*
//
// Variables and Classes to Mix In
// --------------------------------------------------
*/
$general-color-light-gray : #fafafa;
$general-color-white : #fefefe;
$general-color-orange : #f68d2d;
$general-color-dark-gray : #222222;
$font-family-sans-serif-title : 'Rasa', "Times New Roman", Times, serif;
$font-family-sans-serif-text : 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$input-border-focus : $general-color-orange;
/*
//
// Imports
// --------------------------------------------------
*/
@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../../../node_modules/font-awesome/scss/font-awesome";
@import "header";
@import "footer";
@import "general";
@import "animations";

html, body { height : 100%; }

/*
//
// Title Bar
// --------------------------------------------------
*/
.title-bar {
    background : #1d1819;
    h1 {
        color          : #ffffff;
        font-size      : 40px;
        text-transform : uppercase;
        font-weight    : 300;
        margin-bottom  : 20px;
    }
}

.highlight {
    color : #f68d2d;
}

/*
//
// Content Styles
// --------------------------------------------------
*/
.pdf-content {
    height        : 800px;
    display       : none;
    overflow      : hidden;
    border-bottom : 1px solid #dddddd;

    h3 {
        margin-top : 0;
    }

    .iframe {
        height : 800px;
        width  : 100%;
        border : 1px solid #dddddd;
    }

}

.html-content {
    h3 {
        margin-top : 0;
    }
}

/*
//
// Carousel
// --------------------------------------------------
*/

.carousel .item .active { height : 500px; }

.carousel-inner { height : 500px; }

.fill { width : 100%; height : 500px; background-position : center; background-size : cover; }

.banner-image {
    .fill {
        height : 300px;
    }

    position : relative;

    .banner-box {
        background    : rgba(0, 0, 0, .75);
        padding       : 20px;
        color         : #ffffff;
        border-radius : 5px;
        margin-top    : 30px;
    }
}

/* faster sliding speed */
.carousel-inner > .item {
    -webkit-transition : 0.3s ease-in-out left;
    -moz-transition    : 0.3s ease-in-out left;
    -o-transition      : 0.3s ease-in-out left;
    transition         : 0.3s ease-in-out left;
}

.container.carousel-container {
    padding-left  : 0 !important;
    padding-right : 0 !important;
}

/*
//
// Media objects
// --------------------------------------------------
*/

.media-block {
    margin : 40px 20px;
}

/* keep full widget on smaller screens */
@media (max-width : 767px) {
    body {
        padding-left  : 0 !important;
        padding-right : 0 !important;
    }
}

.media-list {
    .media {
        padding       : 20px 0 40px;
        border-bottom : 1px dashed #dddddd;

        &:last-child {
            border-bottom : none;
        }
    }
}

/*
//
// List Groups
// --------------------------------------------------
*/
.list-group {

    .list-group-item {
        width          : 100%;
        color          : #898989;
        background     : #fbfbfb;
        margin-top     : 3px;
        text-transform : uppercase;
        font-size      : 12px;
        border-radius  : 0;
    }

    .list-group-item:hover, .list-group-item.active {
        background : #f68d2d;
        color      : white;
        border-color: #f68d2d;
    }

    .list-group-item.active {
        cursor     : default;
        font-weight: bold;
    }

    .sublink {
        &:after {
            font-family : 'FontAwesome';
            content     : "\f139";
            float       : right;
            font-weight : normal;
        }
    }

    .sublink.collapsed {
        &:after {
            content : "\f13a";
        }
    }

    .sublinks {
        margin-left : 25px;

        .list-group-item:first-child {
            border-top-left-radius  : 0;
            border-top-right-radius : 0;
        }

        .list-group-item:last-child {
            border-bottom-left-radius  : 0;
            border-bottom-right-radius : 0;
            border-bottom              : none;
        }
    }
}

/*
//
// Menu
// --------------------------------------------------
*/

@media (min-width : 979px) {
    #menu.affix {
        position : fixed;
        z-index  : 100;
        width    : 358px;
        top      : 70px;
    }
}

/*
//
// Horizontal Rules
// --------------------------------------------------
*/

hr {
    margin: 40px 0 0;
    border-top : 1px dashed #cccccc;
}

/*
//
// Buttons
// --------------------------------------------------
*/

.btn-primary {
    color            : #ffffff;
    background-color : #f68d2d;
    border-color     : #fba128;
}

.btn-primary:hover {
    background-color : #e27a2c;
    border-color     : #ed852c;
}

