/*
//
// Imports
// --------------------------------------------------
*/
@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../../../node_modules/font-awesome/scss/font-awesome";
@import "../../../node_modules/jasny-bootstrap/scss/jasny-bootstrap";
@import "theme/v1/bootstrap";



/*
//
// Title Bar
// --------------------------------------------------
*/
.title-bar {
    background : #1d1819;
    h1 {
        color          : #ffffff;
        font-size      : 40px;
        text-transform : uppercase;
        font-weight    : 300;
        margin-bottom  : 20px;
    }
}

.highlight {
    color : #f68d2d;
}

/*
//
// Content Styles
// --------------------------------------------------
*/
.pdf-content {
    height        : 800px;
    display       : none;
    overflow      : hidden;
    border-bottom : 1px solid #dddddd;

    h3 {
        margin-top : 0;
    }

    .iframe {
        height : 800px;
        width  : 100%;
        border : 1px solid #dddddd;
    }

}

.html-content {
    h3 {
        margin-top : 0;
    }
}


/*
//
// Error Pages
// --------------------------------------------------
*/

.well-error {
    margin-top: 50px;

    h2 {
        font-size: 100px;
    }
}