.desktop-nav {
    background-color : #f3f3f3;
    border-top       : 1px solid #ececec;
    border-bottom    : 1px solid #ececec;
    padding          : .25em;

    .navbar-nav {
        width : 100%;
    }

    a {
        font-size      : 14px;
        text-transform : uppercase;
        font-family    : $font-family-sans-serif-heading;
    }

    .dropdown-menu {
        background-color : #222;
        border           : 1px solid rgba(0, 0, 0, 0.15);
        border-radius    : 0;
        top              : 107%;
        width            : 100%;
        padding-top      : 0;
        padding-bottom   : 0;
    }

    .dropdown-menu > a {
        border-bottom : 1px solid #333333;
    }

    .dropdown-menu > a.active {
        background  : none;
        color       : #fd7600;
        font-weight : bold;
    }

    .dropdown-menu > a:last-child {
        border : none;
    }

    .dropdown-menu > a {
        color   : #ffffff;
        padding : 10px 30px 10px 20px;
    }

    .dropdown-menu > a:hover, .dropdown-menu > a:focus {
        text-decoration  : none;
        color            : #f68d2d;
        background-color : #000000;
    }

    .dropdown-submenu {
        position : relative;
    }

    .dropdown-submenu > .dropdown-menu {
        top         : 0;
        left        : 100%;
        margin-top  : -5px;
        margin-left : 0px;
        background  : #f68d2d;
        color       : #000000;
    }

    .dropdown-submenu > .dropdown-menu > a {
        color : #000000;
    }

    .dropdown-submenu > .dropdown-menu > a:hover, .dropdown-submenu > .dropdown-menu > a:focus {
        text-decoration : none;
        color           : #ffffff;
        background      : #f68d2d;
    }

    .dropdown-submenu:hover > .dropdown-menu {
        display : block;
    }

    .dropdown-submenu > a:after {
        display           : block;
        content           : " ";
        float             : right;
        width             : 0;
        height            : 0;
        border-color      : transparent;
        border-style      : solid;
        border-width      : 5px 0 5px 5px;
        border-left-color : #cccccc;
        margin-top        : 5px;
        margin-right      : -10px;
    }

    .dropdown-submenu:hover > a:after {
        border-left-color : #ffffff;
    }

    .dropdown-submenu.pull-left {
        float : none;
    }

    .dropdown-submenu.pull-left > .dropdown-menu {
        left                  : -100%;
        margin-left           : 10px;
        -webkit-border-radius : 6px 0 6px 6px;
        -moz-border-radius    : 6px 0 6px 6px;
        border-radius         : 6px 0 6px 6px;
    }

    .nav-item.active {
        font-weight : bold;
    }
}

@include media-breakpoint-up(md) {
    .desktop-nav a {
        font-size : 16px;
    }
}