.page-footer-logos {
    margin : 2em 0;
}

.page-footer {
    @extend .mt-4;
    padding    : 1em 0 0;
    background : $general-color-orange;
    color      : #ffffff;
    border-top : 1px solid darken($general-color-orange, 10);

    .form {
        .btn.btn-primary {
            color       : $general-color-orange !important;
            font-weight : bold;
            background  : #ffffff;
        }

        input.form-control, textarea.form-control {
            background   : #e75200;
            color        : #ffffff;
            border-color : darken(#e75200, 2);
            padding: .7em;
        }

        input.form-control::placeholder, textarea.form-control::placeholder {
            color : #ffffff;
        }
    }

    .footer-links {
        a {
            color: white;
        }
    }
}