.page-footer-logos {
    margin : 2em 0;
}

.page-footer {
    @extend .mt-4;
    padding    : 1em 0 .5em;
    background : #faa634;

    .form {
        background    : #e99c49;
        margin-bottom : 1em;
        padding       : 2em;

        .btn.btn-primary {
            color        : white !important;
            font-weight  : bold;
            background   : black;
            border-color : darken(#e99c49, 5%);
        }

        input.form-control,
        textarea.form-control {
            border-color  : darken(#bf6122, 5);
            border-radius : 0;
            padding       : .7em;
            color         : white;
            background    : #bf6122;
        }

        input.form-control::placeholder,
        textarea.form-control::placeholder {
            color          : white;
            font-size      : 13px;
            text-transform : uppercase;
        }
    }

    .footer-links {
        li {
            line-height : 1;
            padding     : 0 1em;
            margin      : 0;
        }

        a {
            color          : black;
            text-transform : uppercase;
        }

        li:last-child {
            border-right : none;
        }
    }
}

/*
//
// Media Queries
// --------------------------------------------------
*/
@include media-breakpoint-up(md) {
    .page-footer .form {
        margin-left  : 0;
        margin-right : 0;
    }
}