/*
//
// General
// --------------------------------------------------
*/

body {
    font-family : $font-family-sans-serif-text;
    color       : $general-color-dark-gray;
    line-height : 1.6;
}

h1, h2, h3, h4, h5, h6 {
    font-family    : $font-family-sans-serif-heading;
    text-transform : uppercase;
}

sub, sup {
    /* Specified in % so that the sup/sup is the
       right size relative to the surrounding text */
    font-size      : 75%;
    /* Zero out the line-height so that it doesn't
       interfere with the positioning that follows */
    line-height    : 0;
    /* Where the magic happens: makes all browsers position
       the sup/sup properly, relative to the surrounding text */
    position       : relative;
    /* Note that if you're using Eric Meyer's reset.css, this
       is already set and you can remove this rule */
    vertical-align : baseline;
}

sup {
    /* Move the superscripted text up */
    top : -0.5em;
}

sub {
    /* Move the subscripted text down, but only
       half as far down as the superscript moved up */
    bottom : -0.25em;
}

h1 sup, h2 sup, h3 sup, h4 sup, h5 sup, h6 sup {
    font-size : .45em;
    top       : -1.2em;
}

//Font sizing fixes
@include media-breakpoint-up(md) {
    html {
        font-size : 17px;
    }
}

@include media-breakpoint-up(xl) {
    html {
        font-size : 17px;
    }
}

@include media-breakpoint-down(sm) {
    html {
        font-size : 18px;
    }
}

/*
//
// Buttons and General Links Styles
// --------------------------------------------------
*/
/* unvisited link */
a:link {
    color  : $general-color-orange;
    cursor : pointer;
}

button {
    cursor : pointer;
}

/* visited link */
a:visited {
    color : $general-color-orange;
}

/* mouse over link */
a:hover {
    color : darken($general-color-orange, 15%);
    text-decoration : underline;
}

/* selected link */
a:active {
    color : $general-color-orange;
}

.btn {
    color          : #ffffff !important;
    border-radius  : 0;
    font-family    : $font-family-sans-serif-heading;
    text-transform : uppercase;
    cursor         : pointer;
}

.btn-primary {
    background   : $general-color-orange;
    border-color : darken($general-color-orange, 5%);

    &:hover {
        background   : darken($general-color-orange, 10%);
        border-color : lighten($general-color-orange, 15%);
    }
}

.btn-link {
    &:after {
        content     : "\2192";
        margin-left : 5px;
    }
}

.btn-link:hover {
    color : darken($general-color-orange, 15%);
    text-decoration: none;
    &:after {
        text-decoration : none;
    }
}

.btn-default {
    background : #cccccc !important;
    color      : $general-color-dark-gray !important;
    &:hover {
        background   : darken(#cccccc, 10%) !important;
        border-color : lighten($general-color-dark-gray, 15%) !important;
    }
}

/*
//
// Alerts
// --------------------------------------------------
*/
.alert {
    border-radius : 0;
    border-top    : none;
}

/*
//
// Images
// --------------------------------------------------
*/
.img-circle {
    border-radius : 50%;
}

/*
//
// Forms
// --------------------------------------------------
*/
.form-control {
    color         : #292b2c;
    border        : 1px solid rgba(0, 0, 0, 0.15);
    border-radius : 0;
}

.form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color : #cccccc;
}

.form-control::-moz-placeholder { /* Firefox 19+ */
    color : #cccccc;
}

.form-control:-ms-input-placeholder { /* IE 10+ */
    color : #cccccc;
}

.form-control:-moz-placeholder { /* Firefox 18- */
    color : #cccccc;
}

.form-control:focus {
    border-color : $general-color-orange;
}

/*
//
// Styles for lists with icons
// --------------------------------------------------
*/
.fa-ul {
    li {
        margin-bottom : .5em;
        font-family   : $font-family-sans-serif-text;
        a {
            font-family : $font-family-sans-serif-text;
        }
    }
}

.fa-ul li a {
    color  : $general-color-orange;
    cursor : pointer;
}

.fa-ul li a:hover {
    color           : darken($general-color-orange, 15%);
    text-decoration : underline;
}
/*
//
// For Medium Screen and Up Styles
// --------------------------------------------------
*/
@include media-breakpoint-up(md) {

    //the code below achieves a footer

    html {
        height : 100%;
    }

    body {
        display        : flex;
        min-height     : 100%;
        flex-direction : column;
    }

    .page-content-wrapper {
        flex : 1 0 auto;
    }
}

/*
//
// PageTitle
// --------------------------------------------------
*/
.page-title {
    margin-bottom : 2em;
    background    : #f3f3f3;
    padding       : 1em 0;
    border-bottom : 1px solid #ececec;

    h1 {
        margin  : 0;
        padding : 0;
    }
}

/*
//
// Bootstrap cards
// --------------------------------------------------
*/
.card {
    border-radius : 0;

    .card-header a, .card-header a:hover {
        color           : #222222;
        text-decoration : none;
    }
}

/*
//
// Wells
// --------------------------------------------------
*/
.well {
    background : #f9f9f9;
    padding    : 3em;
    margin     : 2em;
    border     : 1px solid #d3d3d3;

    .btn {
        white-space : normal;
    }
}

@include media-breakpoint-up(md) {
    .well-error {
        h2 {
            font-size : 100px;
        }
    }
}


/*
//
// SPS - AT THIS POINT NOT USED
// --------------------------------------------------
*/
@media (min-width : 1200px) {
    .sps {
        position : -webkit-sticky;
        position : sticky;
        top      : 1em;
    }

    .sps:before,
    .sps:after {
        content : '';
        display : table;
    }
}
