/*
//
// General
// --------------------------------------------------
*/

body {
    font-family : $font-family-sans-serif-text;
    color       : $general-color-dark-gray;
    line-height : 1.6;
}

/* keep full widget on smaller screens */
@media (max-width : 767px) {
    body {
        padding-left  : 0 !important;
        padding-right : 0 !important;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family    : $font-family-sans-serif-heading;
    text-transform : uppercase;
}

sub, sup {
    /* Specified in % so that the sup/sup is the
       right size relative to the surrounding text */
    font-size      : 75%;
    /* Zero out the line-height so that it doesn't
       interfere with the positioning that follows */
    line-height    : 0;
    /* Where the magic happens: makes all browsers position
       the sup/sup properly, relative to the surrounding text */
    position       : relative;
    /* Note that if you're using Eric Meyer's reset.css, this
       is already set and you can remove this rule */
    vertical-align : baseline;
}

sup {
    /* Move the superscripted text up */
    top : -0.5em;
}

sub {
    /* Move the subscripted text down, but only
       half as far down as the superscript moved up */
    bottom : -0.25em;
}

h1 sup, h2 sup, h3 sup, h4 sup, h5 sup, h6 sup {
    font-size : .45em;
    top       : -1.2em;
}

/*
//
// Buttons and General Links Styles
// --------------------------------------------------
*/
/* unvisited link */
a:link {
    color  : $general-color-orange;
    cursor : pointer;
}

button {
    cursor : pointer;
}

/* visited link */
a:visited {
    color : $general-color-orange;
}

/* mouse over link */
a:hover {
    color           : darken($general-color-orange, 15%);
    text-decoration : underline;
}

/* selected link */
a:active {
    color : $general-color-orange;
}

.btn {
    color          : #ffffff !important;
    border-radius  : 0;
    font-family    : $font-family-sans-serif-heading;
    text-transform : uppercase;
    cursor         : pointer;
}

.btn-primary {
    background   : $general-color-orange;
    border-color : darken($general-color-orange, 5%);

    &:hover {
        background   : darken($general-color-orange, 10%);
        border-color : lighten($general-color-orange, 15%);
    }
}

.btn-link {
    &:after {
        content     : "\2192";
        margin-left : 5px;
    }
}

.btn-link:hover {
    color           : darken($general-color-orange, 15%);
    text-decoration : none;
    &:after {
        text-decoration : none;
    }
}

.btn-default {
    background : #cccccc !important;
    color      : $general-color-dark-gray !important;
    &:hover {
        background   : darken(#cccccc, 10%) !important;
        border-color : lighten($general-color-dark-gray, 15%) !important;
    }
}

/*
//
// Alerts
// --------------------------------------------------
*/
.alert {
    border-radius : 0;
    border-top    : none;
}

/*
//
// Images
// --------------------------------------------------
*/
.img-circle {
    border-radius : 50%;
}

/*
//
// Forms
// --------------------------------------------------
*/
.form-control {
    color         : #292b2c;
    border        : 1px solid rgba(0, 0, 0, 0.15);
    border-radius : 0;
}

.form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color : #cccccc;
}

.form-control::-moz-placeholder { /* Firefox 19+ */
    color : #cccccc;
}

.form-control:-ms-input-placeholder { /* IE 10+ */
    color : #cccccc;
}

.form-control:-moz-placeholder { /* Firefox 18- */
    color : #cccccc;
}

.form-control:focus {
    border-color : $general-color-orange;
    box-shadow   : inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(191, 111, 34, 0.6);
}

/*
//
// Styles for lists with icons
// --------------------------------------------------
*/
.fa-ul {
    li {
        margin-bottom : .5em;
        font-family   : $font-family-sans-serif-text;
        a {
            color : $general-color-dark-gray;
            cursor : pointer;
            font-family : $font-family-sans-serif-text;
        }
    }
}

.fa-ul li a:hover {
    color           : darken($general-color-orange, 15%);
    text-decoration : underline;
}

/*
//
// For Medium Screen and Up Styles
// --------------------------------------------------
*/
@include media-breakpoint-up(md) {

    //the code below achieves a footer

    html {
        height : 100%;
    }

    body {
        display        : flex;
        min-height     : 100%;
        flex-direction : column;
    }

    .page-content-wrapper {
        flex : 1 0 auto;
    }
}

/*
//
// PageTitle
// --------------------------------------------------
*/
.page-title {
    margin-bottom : 2em;
    background    : #f3f3f3;
    padding       : 1em 0;
    border-bottom : 1px solid #ececec;

    h2 {
        margin  : 0;
        padding : 0;
        font-size: 30px !important;
    }
}

/*
//
// Bootstrap cards
// --------------------------------------------------
*/
.card {
    border-radius : 0;

    .card-header a, .card-header a:hover {
        color           : #222222;
        text-decoration : none;
    }
}

/*
//
// Wells
// --------------------------------------------------
*/
.well {
    background : #f9f9f9;
    padding    : 3em;
    margin     : 2em;
    border     : 1px solid #d3d3d3;

    .btn {
        white-space : normal;
    }
}

@include media-breakpoint-up(md) {
    .well-error {
        h2 {
            font-size : 100px;
        }
    }
}

/*
//
// Tables
// --------------------------------------------------
*/
.table {
    font-size : 15px;

    thead th {
        background     : $general-color-orange;
        color          : white;
        text-align     : center;
        vertical-align : middle;
    }

    tr td a {
        color           : $general-color-orange !important;
        display         : block;
        width           : 100%;
        height          : 100%;
        text-decoration : none;
    }

    tr td.cell-link:hover {
        background : $general-color-orange;
    }

    tr.highlight td {
        background     : #c7642c;
        color          : white;
        text-align     : center;
        vertical-align : middle;
    }
}

/*
//
// Panels
// --------------------------------------------------
*/
.panel.panel-primary {
    .panel-heading {
        background   : $general-color-orange;
        border-color : #dddddd;
    }

    border-color : #dddddd;
}

/*
//
// Horizontal Rules
// --------------------------------------------------
*/

hr {
    margin     : 40px 0 40px;
    border-top : 1px dashed #cccccc;
}

/*
//
// Paginations
// --------------------------------------------------
*/

.pagination > li > a, .pagination > li > span {
    color : #222222;
}

.pagination > li > a:hover, .pagination > li > a:focus, .pagination > li > span:hover, .pagination > li > span:focus {
    color      : #ffffff;
    background : $general-color-orange;
}

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
    z-index          : 3;
    color            : #222222;
    background-color : #dddddd;
    border-color     : #dddddd;
    cursor           : default;
}

/*
//
// List Groups
// --------------------------------------------------
*/
.list-group {

    .list-group-item {
        width          : 100%;
        color          : #898989;
        background     : #fafafa;
        margin-top     : 3px;
        text-transform : uppercase;
        font-size      : 12px;
        border-radius  : 0;
        border         : 1px solid #e3e3e3;
    }

    .list-group-item:hover, .list-group-item.active {
        background   : #f68d2d;
        color        : white;
        border-color : #f68d2d;
    }

    .list-group-item.active {
        cursor      : default;
        font-weight : bold;
    }
}

/*
//
// Media objects
// --------------------------------------------------
*/

.media-block {
    margin : 40px 20px;
}

.media-list {
    .media {
        padding       : 20px 0 40px;
        border-bottom : 1px dashed #dddddd;

        &:last-child {
            border-bottom : none;
        }
    }
}

/*
//
// Carousel
// --------------------------------------------------
*/

.carousel .item .active {
    height : 300px;
}

.carousel-inner {
    height : 300px;
}

.fill {
    width               : 100%;
    height              : 300px;
    background-position : center;
    background-size     : cover;
}

.banner-image {
    .fill {
        height : 300px;
    }

    position : relative;

    .banner-box {
        background    : rgba(0, 0, 0, .75);
        padding       : 20px;
        color         : #ffffff;
        border-radius : 5px;
        margin-top    : 30px;
    }
}

/* faster sliding speed */
.carousel-inner > .item {
    -webkit-transition : 0.3s ease-in-out left;
    -moz-transition    : 0.3s ease-in-out left;
    -o-transition      : 0.3s ease-in-out left;
    transition         : 0.3s ease-in-out left;
}

.container.carousel-container {
    padding-left  : 0 !important;
    padding-right : 0 !important;
}

/*
//
// SPS - AT THIS POINT NOT USED
// --------------------------------------------------
*/
@media (min-width : 1200px) {
    .sps {
        position : -webkit-sticky;
        position : sticky;
        top      : 1em;
    }

    .sps:before,
    .sps:after {
        content : '';
        display : table;
    }
}
