.navbar-mobile-toggle {
    background-color : #fdfdfd;
    border-top       : 1px solid #f3f3f3;
    border-bottom    : 1px solid #f3f3f3;

    .container {
        margin-left  : 0;
        margin-right : 0;
        padding-left : 0;
    }
}

.navbar-mobile {
    padding    : 10px 0;
    background : #3d3d3d !important;

    a {
        color     : #cccccc !important;
        font-size : 16px;
    }

    a:hover, a.active, a.active:hover, a:active, a:focus, a:visited, .nav-item.active > a {
        background-color : #0275d8;
        color            : white !important;
    }

    .nav-item a:hover, .dropdown a:hover {
        background-color : #0275d8;
        color            : white !important;
    }

    .nav-item > a {
        background   : #222222;
        padding-left : 10px;
    }

    .container {
        margin-left  : 0;
        margin-right : 0;
    }

    .dropdown-menu {
        background     : #222222;
        border-radius  : 0;
        padding-top    : 0;
        padding-bottom : 0;
        margin-top     : 0;

        .dropdown-item {
            white-space : normal;

            &:last-child {
                border-bottom : none;
            }
        }
    }

    .sublinks {
        margin     : 0 15px;
        background : #333333;

        a.dropdown-item {
            border : none;
        }
    }
}

.navbar-offcanvas.navbar-mobile .dropdown-menu.shown {
    margin-bottom : 0;
}