
.title-bar {
    background : #3d3d3d;
    h1 {
        padding       : .5em 0;
        color         : #ffffff;
        text-align    : center;
        margin-bottom : 0;
        font-size: 35px;
    }
}