/*
//
// Variables and Classes to Mix In
// --------------------------------------------------
*/
$general-color-light-gray : #fafafa;
$general-color-white : #fefefe;
$general-color-orange : #f68d2d;
$general-color-dark-gray : #222222;
$input-border-focus : $general-color-orange;

$font-family-sans-serif-text : 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-sans-serif-heading : "Roboto Condensed", "Helvetica Neue", Arial, sans-serif !default;

