
html { position : relative; min-height : 100%; }

body {
    margin-bottom : 80px;
}

.page-footer {
    position : absolute;
    bottom   : 0;
    width    : 100%;
    height   : 80px;

    .page-footer-content {
        border-top : 1px solid #f3f3f3;
        padding    : 20px 0;
    }

    .page-footer-logos {
        margin-bottom : 40px;
    }

    @media (min-width : 992px) {
        .page-footer-logos .row-eq-height {
            display  : -ms-flexbox;
            display  : flex;
            -ms-flex : 1 0 auto;
            flex     : 1 0 auto;
            align-items     : center;
            justify-content : center;
        }
    }
}