/*
//
// General
// --------------------------------------------------
*/

body {
    font-family : $font-family-sans-serif-text;
    color       : $general-color-dark-gray;
    line-height : 1.6;
}

h1, h2, h3, h4, h5, h6 {
    font-family    : $font-family-sans-serif-heading;
    text-transform : uppercase;
}

sub, sup {
    /* Specified in % so that the sup/sup is the
       right size relative to the surrounding text */
    font-size      : 75%;
    /* Zero out the line-height so that it doesn't
       interfere with the positioning that follows */
    line-height    : 0;
    /* Where the magic happens: makes all browsers position
       the sup/sup properly, relative to the surrounding text */
    position       : relative;
    /* Note that if you're using Eric Meyer's reset.css, this
       is already set and you can remove this rule */
    vertical-align : baseline;
}

sup {
    /* Move the superscripted text up */
    top : -0.5em;
}

sub {
    /* Move the subscripted text down, but only
       half as far down as the superscript moved up */
    bottom : -0.25em;
}

h1 sup, h2 sup, h3 sup, h4 sup, h5 sup, h6 sup {
    font-size : .45em;
    top       : -1.2em;
}

//Font sizing fixes
@include media-breakpoint-up(md) {
    html { font-size : 17px; }
}

@include media-breakpoint-up(xl) {
    html { font-size : 17px; }
}

@include media-breakpoint-down(sm) {
    html { font-size : 18px; }
}



/*
//
// Buttons and General Links Styles
// --------------------------------------------------
*/
/* unvisited link */
a:link {
    color : $general-color-orange;
}

/* visited link */
a:visited {
    color : $general-color-orange;
}

/* mouse over link */
a:hover {
    color           : $general-color-orange;
    text-decoration : underline;
}

/* selected link */
a:active {
    color : #fd7600;
}

.btn, a.btn button.btn, input.btn {
    cursor : pointer;
}

.btn {
    font-family    : $font-family-sans-serif-heading;
    text-transform : uppercase;
    border-radius : 0;
}

.btn-primary {
    color : #ffffff !important;
    background   : $general-color-orange;
    border-color : darken(#fd7600, 5%);
    font-family   : $font-family-sans-serif-text;
    &:hover {
        background   : darken($general-color-orange, 10%);
        border-color : lighten($general-color-orange, 15%);
    }
}

.btn-primary:active, .btn-primary.active, .open > .btn-primary.dropdown-toggle {
    background   : darken($general-color-orange, 10%);
    border-color : lighten($general-color-orange, 15%);
}

.btn-primary:focus, .btn-primary.focus {
    background   : darken($general-color-orange, 10%);
    border-color : lighten($general-color-orange, 15%);
}

.btn-default {
    background : #d3d3d3;
    color      : $general-color-dark-gray !important;
}

/*
//
// Tables
// --------------------------------------------------
*/
.table {
    font-size : 15px;

    thead th {
        background     : $general-color-orange;
        color          : #ffffff;
        text-align     : center;
        vertical-align : middle;
    }

    tr.highlight td {
        background     : darken($general-color-orange, 15%);
        color          : white;
        text-align     : center;
        vertical-align : middle;
        font-weight    : bold;
    }
}

/*
//
// Pagination
// --------------------------------------------------
*/

.pagination > li > a, .pagination > li > span {
    color : #222222;
}

.pagination > li > a:hover, .pagination > li > a:focus, .pagination > li > span:hover, .pagination > li > span:focus {
    color      : #ffffff;
    background : $general-color-orange;
}

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
    z-index          : 3;
    color            : #222222;
    background-color : #dddddd;
    border-color     : #dddddd;
    cursor           : default;
}

/*
//
// Horizontal Rules
// --------------------------------------------------
*/

hr {
    margin     : 40px 0 40px;
    border-top : 1px dashed #cccccc;
}

/*
//
// Images
// --------------------------------------------------
*/
.img-circle {
    border-radius : 50%;
}

/*
//
// Forms
// --------------------------------------------------
*/
.form-control {
    color         : #292b2c;
    border        : 1px solid rgba(0, 0, 0, 0.15);
    border-radius : 0;
}

.form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color : #cccccc;
}

.form-control::-moz-placeholder { /* Firefox 19+ */
    color : #cccccc;
}

.form-control:-ms-input-placeholder { /* IE 10+ */
    color : #cccccc;
}

.form-control:-moz-placeholder { /* Firefox 18- */
    color : #cccccc;
}

.form-control:focus {
    border-color : $general-color-orange;
    box-shadow   : inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(191, 111, 34, 0.6);
}

/*
//
// List Groups
// --------------------------------------------------
*/
.list-group {

    .list-group-item {
        width          : 100%;
        color          : #898989;
        background     : #fafafa;
        margin-top     : 3px;
        text-transform : uppercase;
        font-size      : 12px;
        border-radius  : 0;
        border         : 1px solid #e3e3e3;
    }

    .list-group-item:hover, .list-group-item.active {
        background   : #f68d2d;
        color        : white;
        border-color : #f68d2d;
    }

    .list-group-item.active {
        cursor      : default;
        font-weight : bold;
    }
}