
html { position : relative; min-height : 100%; }

body {
    display        : flex;
    min-height     : 100vh;
    flex-direction : column;
    color : $general-color-dark-gray;
}

body > .container {
    flex: 1;
}

a {
    color           : #f68d2d;
    text-decoration : none;
}

a:hover {
    color : #f68d2d;
}

.page-footer {
    width         : 100%;
    background    : #fafafa;
    border-top    : 1px solid #e3e3e3;
    padding       : 20px 0 50px;
    margin-top: 40px;

    @media (min-width : 992px) {
        .page-footer-logos .row-eq-height {
            display         : -ms-flexbox;
            display         : flex;
            -ms-flex        : 1 0 auto;
            flex            : 1 0 auto;
            align-items     : center;
            justify-content : center;
        }
    }
}