

.site-header {

    .top-row {
        margin : 20px 0;
    }

    .logo .full {
        width      : 222px;
        height     : 89px;
        background : transparent url('../img/logo.png') no-repeat 0 0;
        display    : block;
    }

    .social-bar {
        margin-top : 20px;
        a {
            display               : block;
            float                 : left;
            width                 : 40px;
            height                : 40px;
            -webkit-border-radius : 50%;
            -moz-border-radius    : 50%;
            border-radius         : 50%;
            background            : #dedede no-repeat center center;
            -webkit-transition    : background-color .2s;
            transition            : background-color .2s;
            margin                : 0 3px;
            text-align            : center;
            position              : relative;

            .fa {
                position  : absolute;
                color     : #888888;
                top       : 25%;
                left      : 30%;
                font-size : 20px;
            }

            &:hover .fa {
                color : #333333;
            }
        }
    }

    .navbar {
        background-color : #fdfdfd;
        border-top       : 1px solid #f3f3f3;
        border-bottom    : 1px solid #f3f3f3;

        .navbar-nav {
            width : 100%;
        }

        a {
            font-size      : 14px;
            text-transform : uppercase;
            font-family    : $font-family-sans-serif-heading;
        }
    }

    .dropdown-menu {
        background-color : #000000;
        border           : 1px solid #cccccc;
        border           : 1px solid rgba(0, 0, 0, 0.15);
        border-radius    : 0;
        top              : 120%;
    }

    .dropdown-menu > a {
        border-bottom : 1px solid #333333;
    }

    .dropdown-menu > a.active {
        background  : none;
        color       : #fd7600;
        font-weight : bold;
    }

    .dropdown-menu > a:last-child {
        border : none;
    }

    .dropdown-menu > a {
        color   : #ffffff;
        padding : 10px 30px 10px 20px;
    }

    .dropdown-menu > a:hover, .dropdown-menu > a:focus {
        text-decoration  : none;
        color            : #f68d2d;
        background-color : #000000;
    }

    .dropdown-submenu {
        position : relative;
    }

    .dropdown-submenu > .dropdown-menu {
        top         : 0;
        left        : 100%;
        margin-top  : -5px;
        margin-left : 0px;
        background  : #f68d2d;
        color       : #000000;
    }

    .dropdown-submenu > .dropdown-menu > a {
        color : #000000;
    }

    .dropdown-submenu > .dropdown-menu > a:hover, .dropdown-submenu > .dropdown-menu > a:focus {
        text-decoration : none;
        color           : #ffffff;
        background      : #f68d2d;
    }

    .dropdown-submenu:hover > .dropdown-menu {
        display : block;
    }

    .dropdown-submenu > a:after {
        display           : block;
        content           : " ";
        float             : right;
        width             : 0;
        height            : 0;
        border-color      : transparent;
        border-style      : solid;
        border-width      : 5px 0 5px 5px;
        border-left-color : #cccccc;
        margin-top        : 5px;
        margin-right      : -10px;
    }

    .dropdown-submenu:hover > a:after {
        border-left-color : #ffffff;
    }

    .dropdown-submenu.pull-left {
        float : none;
    }

    .dropdown-submenu.pull-left > .dropdown-menu {
        left                  : -100%;
        margin-left           : 10px;
        -webkit-border-radius : 6px 0 6px 6px;
        -moz-border-radius    : 6px 0 6px 6px;
        border-radius         : 6px 0 6px 6px;
    }

    .nav-item.active {
        font-weight : bold;
    }

}

@include media-breakpoint-up(md) {
    .site-header .navbar a {
        font-size : 16px;
    }
}

.title-bar {
    background : #292929;
    h1 {
        margin-top: .5em;
        margin-bottom: .5em;
        color : #ffffff;
    }
}


/*
//
// Admin Navbar
// --------------------------------------------------
*/
.user-bar {
    background-color : #f68d2d;
    border-color     : #c4622b;
    padding          : 0;
    margin-bottom: 1em;

    a.nav-link {
        color          : #fff;
        font-size      : 15px;
        line-height    : 18px;
        display        : block;
        padding        : .5rem 1.5rem !important;
        border-right   : 1px solid #c4622b;
        text-transform : uppercase;
        font-family    : "Roboto Condensed", "Helvetica Neue", Arial, sans-serif;

        &:hover {
            background : #c4622b;
            color      : #ffffff;
        }
    }

    .navbar-nav {
        width : inherit;
    }
}

.user-bar.sps {
    top: 0;
    z-index: 99999;
}