/*
//
// Side Menu Styles for all pages
// --------------------------------------------------
*/
.page-side-menu {

    .card {
        border: none;
        border-radius: 0;

        .card a {
            border-bottom : 1px solid #e3e3e3;
        }
    }

    .list-group {

        .list-group-item {
            width          : 100%;
            color          : #898989;
            background     : #fafafa;
            margin-top     : 3px;
            text-transform : uppercase;
            font-size      : 12px;
            border-radius  : 0;
            border         : 1px solid #e3e3e3;
        }

        .list-group-item:hover, .list-group-item.active {
            background   : #f68d2d;
            color        : white;
            border-color : #f68d2d;
        }

        .list-group-item.active {
            cursor      : default;
            font-weight : bold;
        }

        .list-group-item.active span {
            display: inline-block;
            width: 80%;
        }

        .list-group-item.active:after {
            font-family : 'FontAwesome';
            content     : "\f054";
            font-weight : normal;
            display : inline-block;
            text-align: right;
            flex: 1;
        }

        .sublink.collapsed, .sublink {
            &:after {
                content : "\f13a";
                display    : inline-block;
                text-align : right;
                flex       : 1;
            }
        }

        .sublink {
            &:after {
                font-family : 'FontAwesome';
                content     : "\f139";
            }
        }

        .sublinks {
            margin-left : 25px;

            .list-group-item:first-child {
                border-top-left-radius  : 0;
                border-top-right-radius : 0;
            }

            .list-group-item:last-child {
                border-bottom-left-radius  : 0;
                border-bottom-right-radius : 0;
            }
        }
    }
}