/*
//
// Variables and Classes to Mix In
// --------------------------------------------------
*/
$general-color-light-gray : #fafafa;
$general-color-white : #fefefe;
$general-color-orange : #f68d2d;
$general-color-dark-gray : #222222;
$font-family-sans-serif-title : 'Rasa', "Times New Roman", Times, serif;
$font-family-sans-serif-text : 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$input-border-focus : $general-color-orange;