/*
//
// FOOTER LOGOS
// --------------------------------------------------
*/
.page-footer-logos {
    margin : 2em 0;
}

/*
//
// GENERAL PAGE FOOTER AREA
// --------------------------------------------------
*/
.page-footer {
    margin-top: 2em;
    padding    : 1em 0 0;
    background : #faa634;
}

/*
//
// PAGE FOOTER FORM
// --------------------------------------------------
*/
.page-footer .footer-form-container {
    background: $color-orange;
}

.page-footer .form {
    padding       : 1em;

    .btn.btn-primary {
        color        : $color-white !important;
        font-weight  : bold;
        background   : black;
        border-color : darken($color-orange, 5);
    }

    input.form-control,
    textarea.form-control {
        border-color  : darken(#bf6122, 5);
        border-radius : 0;
        padding       : .7em;
        color         : $color-white;
        background    : #bf6122;
    }

    input.form-control::placeholder,
    textarea.form-control::placeholder {
        color          : $color-white;
        font-size      : 13px;
        text-transform : uppercase;
    }
}

/*
//
// FOOTER LINKS
// --------------------------------------------------
*/
.page-footer .footer-links {
    li {
        line-height : 1;
        padding     : 0 1em;
        margin      : 0;
    }

    a {
        color          : black;
        text-transform : uppercase;
    }

    li:last-child {
        border-right : none;
    }
}

/*
//
// SOCIAL BAR
// --------------------------------------------------
*/
.page-footer .social-bar {
    align-self : center;
    margin-bottom : 1em;
    ul {
        display         : flex;
        margin-top      : 1em;
        margin-bottom   : 0 !important;
        padding-bottom  : 0 !important;
        justify-content : center;
    }

    a {
        margin          : 0 .25em;
        width           : 40px;
        height          : 40px;
        border-radius   : 50%;
        background      : #484b4d no-repeat center center;
        transition      : background-color .2s;
        position        : relative;
        display         : flex;
        align-items     : center;
        justify-content : center;

        .fa {
            color     : white;
            font-size : 18px;
        }

        &:hover {
            text-decoration : none;
            background      : black;
        }
    }
}

/*
//
// MEDIA QUERIES
// --------------------------------------------------
*/
@include media-breakpoint-up(md) {
    .page-footer .form {
        margin-left  : 0;
        margin-right : 0;
    }

    .page-footer .social-bar ul {
        margin-top : 0;
    }
}