/*
//
// SITE TOP NAV BAR
// --------------------------------------------------
*/

.site-header .top-bar {
    background: darken($color-orange, 5);
    border-bottom: 2px solid darken($color-orange, 30);
    color: $color-white;
    .top-bar-form {
        margin-top: 5px;
        margin-bottom: 5px;
        .form-control {
            font-size: 14px;
            line-height: 16px;
            border: none;
            border-radius: 0;
            color: $color-white;
            background: #bf6122;
            padding: .3em .7em;
        }
        input.form-control::placeholder {
            color: $color-white;
        }
        i,
        .btn {
            font-size: 14px;
            line-height: 16px;
        }
        .btn.btn-form {
            border: none;
            color: $color-white;
            background: black;
        }
        .btn-remove {
            margin: 0;
        }
    }
    a {
        color: $color-white;
        font-size: 14px;
        display: block;
        margin: .5em;
        cursor: pointer;
        text-decoration: none;
        position: relative;
        font-weight: 600;
    }
    a:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: $color-white;
        visibility: hidden;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
    }
    a:hover:before {
        visibility: visible;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
    .dropdown-menu {
        border-radius: 0;
        a {
            color: #333333;
            margin: .1em;
            padding: .10rem .75rem;
            &:hover {
                background: none;
                text-decoration: underline;
            }
        }
    }
    ul,
    li {
        margin: 0;
        padding: 0;
    }
}


/*
//
// SITE LOGO
// --------------------------------------------------
*/

.site-header .page-logo {
    padding: 1em 0;
}


/*
//
// SITE MAIN NAVIGATION BAR
// --------------------------------------------------
*/

.site-header .main-navbar {
    .active .nav-link {
        color: $color-orange;
    }
    a {
        font-size: 14px;
        display: block;
        margin: .3em;
        color: black;
        cursor: pointer;
        text-decoration: none;
        position: relative;
        padding: .2em;
        font-weight: 600;
    }
    a:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: black;
        visibility: hidden;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
    }
    a:hover:before {
        visibility: visible;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
    .active .nav-link:before {
        background-color: $color-white;
    }
}


/*
//
// TITLE BAR
// --------------------------------------------------
*/

.title-bar {
    background: #3d3d3d;
    h1 {
        padding: .5em 0;
        color: #ffffff;
        text-align: center;
        margin-bottom: 0;
        font-size: 35px;
    }
}

/*
//
// PAGE TITLE
// --------------------------------------------------
*/

.page-title {
    margin-bottom : 2em;
    background    : #F3F3F3;
    padding       : 1em 0;
    border-top    : 1px solid #ECECEC;
    border-bottom : 1px solid #ECECEC;

    h2 {
        margin    : 0;
        padding   : 0;
        font-size : 30px !important;
    }
}