/*
//
// GENERAL CLASS HELPERS
// --------------------------------------------------
*/
.highlight {
    color : $color-orange;
}

.well {
    background : #f9f9f9;
    padding    : 3em;
    margin     : 2em;
    border     : 1px solid #d3d3d3;
}

.well-error {
    margin-top : 50px;

    h2 {
        font-size : 100px;
    }
}