/*
//
// Variables and Classes to Mix In
// --------------------------------------------------
*/
//general colors
$color-light-gray : #fafafa;
$color-white : #fefefe;
$color-orange : #e69135;
$color-dark-gray : #222222;
$input-border-focus : $color-orange;

//general text
$font-family-sans-serif-text : Arial, "Helvetica Neue", Helvetica, sans-serif;
$font-family-sans-serif-heading : "Helvetica Neue", Helvetica, Arial, sans-serif;

